:root {
  --bg-color: #1e1e1e;
  --text-color: #f4f4f4;
  --card-color: #2a2a2a;
  --border-color: #444;
}
body {
  font-family: 'Inter', sans-serif;
  background: var(--bg-color);
  color: var(--text-color);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  display: flex;
  gap: 4rem;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1000px;
  width: 100%;
}
.form {
  flex: 1;
  max-width: 360px;
}
.row {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.row input[type="file"] {
  flex: 35px;
  padding: 0.3rem;
}
.row input[type="url"] {
  flex: 2;
}
.card-preview {
  width: 300px;
  height: 295px;
  background: var(--card-color);
  border-radius: 16px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
.card-banner {
  padding: 45px;
  background: url("assets/backgrounds/default.jpg") center/cover no-repeat;
}
.card-content {
  padding: 1rem 0.75rem 0.75rem;
  text-align: center;
  flex-grow: 1;
}
.card-content img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
  margin: -60px auto 0.5rem;
  display: block;
}
.card-content h2 {
  font-size: 1rem;
  margin: 0.25rem 0 0.25rem;
}
.card-content .card-discord {
  font-size: 0.75rem;
  color: #aaa;
  margin-bottom: 5px;
  margin-top: -5px;
}
.card-role-icon {
  display: flex;
  align-items:center;
  justify-content: center;
  overflow: visible;
  flex-direction: row;
  gap: 0.4rem;
  margin: 0.25rem 0;
  margin-left: -24px;
  margin-top: -10px;
}
.card-role-icon img {
  width: 20px;
  height: 20px;
  margin: auto 0;
}
.card-footer {
  text-align: center;
  font-size: 0.7rem;
  color: #aaa;
  border-top: 1px solid var(--border-color);
  padding: 0.25rem;
}
input, select, button {
  width: 100%;
  margin-bottom: 0.75rem;
  padding: 0.4rem 0.75rem;
  background: #333;
  color: var(--text-color);
  border: 1px solid #555;
  border-radius: 6px;
  font-size: 0.95rem;
}
button {
  background-color: #6366f1;
  color: white;
  cursor: pointer;
  font-weight: 600;
}
a.download-link {
  display: inline-block;
  margin-top: 1rem;
  color: #60a5fa;
  font-size: 0.9rem;
}
label {
  display: block;
  margin-bottom: 0.5rem;
}